@page "/reports"

<div class="main-container">
    <div class="left-container">
        <div class="header">
        </div>
        <div class="body">
        </div>
    </div>
    <div class="right-container">
        <div class="header">
        </div>
        <div class="body">
        </div>
    </div>
</div>

@code {

}
